<div class="container mt-4">
  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>
  <div *ngIf="successMessage" class="alert alert-success">
    {{ successMessage }}
  </div>

  <h3>Zoznam vybavení</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Názov</th>
        <th>Popis</th>
        <th>Cena</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <td>{{ item.name }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.price | currency: 'EUR' }}</td>
        <td>
          <button class="btn btn-info btn-sm" (click)="goToUpdatePage(item)">
            Upraviť
          </button>
          <button class="btn btn-danger btn-sm" (click)="deleteItem(item)">
            Odstrániť
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <h3>Pridaj nové vybavenie</h3>
  <form [formGroup]="newItemForm" (ngSubmit)="addItem()" class="mt-4">
    <div class="mb-3">
      <label for="name" class="form-label">Názov</label>
      <input id="name" formControlName="name" type="text" class="form-control" placeholder="Názov vybavenia" />
      <div *ngIf="name?.invalid && name?.touched" class="text-danger">
        Názov je povinný.
      </div>
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Popis</label>
      <textarea id="description" formControlName="description" class="form-control"
        placeholder="Popis vybavenia"></textarea>
      <div *ngIf="description?.invalid && description?.touched" class="text-danger">
        Popis je povinný.
      </div>
    </div>
    <div class="mb-3">
      <label for="price" class="form-label">Cena</label>
      <input id="price" formControlName="price" type="number" class="form-control" placeholder="Cena v EUR" />
      <div *ngIf="price?.invalid && price?.touched" class="text-danger">
        Cena musí byť kladné číslo.
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="newItemForm.invalid">Pridať vybavenie</button>
  </form>
</div>